asgiref
certifi
cffi
charset-normalizer
cloudinary
colorama
crispy-bootstrap5
crispy-tailwind
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-filter
django-secure
django-storages
djangorestframework
djangorestframework-simplejwt
filelock
future
gevent
greenlet
idna
Markdown
MouseInfo
numpy
opencv-python
package_name
packaging
pillow
pipenv
platformdirs
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-decouple
python-dotenv
pytweening
requests
requests-file
setuptools
six
sqlparse
tldextract
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
zope.event
zope.interface